.header_logo {
  font-size: 24px;
  font-family: 'Amatic SC', cursive;
}

.header_nav {
  font-size: 16px;
  white-space: nowrap;
}

.header_nav li {
  display: inline-block;
  padding: 0 10px 0 10px;
}
